# DSN Pre-Bootcamp Hackathon: The Excellent Store Challenge by Data Science Nigeria

## Data Preprocessing
Data preprocessing is a data mining technique that involves transforming raw data into an understandable format.
Real-world data is often incomplete, inconsistent, and/or lacking in certain behaviors or trends, and is likely to contain many errors. Data preprocessing is a proven method of resolving such issues.

### Steps in Data Preprocessing
Step 1 : Import the libraries

Step 2 : Import the data-set

Step 3 : Check out the missing values

Step 4 : See the Categorical Values

Step 5 : Splitting the data-set into Training and Test Set

Step 6 : Feature Scaling

### Import the necessary libraries
#### NumPy
is the fundamental package for scientific computing with Python. It contains among other things:
1. A powerful N-dimensional array object

2. Sophisticated (broadcasting) functions

3. Tools for integrating C/C++ and FORTRAN code

4. Useful linear algebra, Fourier transform, and random number capabilities

#### Pandas 
is for data manipulation and analysis. Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Pandas is a NumFOCUS sponsored project. This will help ensure the success of development of pandas as a world-class open-source project, and makes it possible to donate to the project. You can check up the features of pandas from this site https://data-flair.training/blogs/python-pandas-features/
#### Matplotlib
is a Python 2D plotting library which produces publication quality figures in a variety of hard copy formats and interactive environments across platforms. Matplotlib can be used in Python scripts, the Python and IPython shells, the Jupyter notebook, web application servers, and four graphical user interface toolkits.
Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics. Please check this tutorial to get started with matplotlib https://www.datacamp.com/community/tutorials/matplotlib-tutorial-python 
#### Warning 
messages are typically issued in situations where it is useful to alert the user of some condition in a program, where that condition (normally) doesnâ€™t warrant raising an exception and terminating the program. For example, one might want to issue a warning when a program uses an obsolete module.

We will be using these fundamantal libraries

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math, datetime
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Import the Data-set
You can download he data into the location for your notebook from this link https://zindi.africa/hackathons/dsn-pre-bootcamp-hackathon-the-excellent-store-challenge/data

In [29]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

We will only be working on the train data. We should also note that it's important to carry out prepocessing on the test data also

In [30]:
print('columns of train are\n', train.columns)
print('columns of test are\n', test.columns)

columns of train are
 Index(['Item_ID', 'Store_ID', 'Item_Store_ID', 'Item_Weight',
       'Item_Sugar_Content', 'Item_Visibility', 'Item_Type', 'Item_Price',
       'Store_Start_Year', 'Store_Size', 'Store_Location_Type', 'Store_Type',
       'Item_Store_Returns'],
      dtype='object')
columns of test are
 Index(['Item_ID', 'Store_ID', 'Item_Store_ID', 'Item_Weight',
       'Item_Sugar_Content', 'Item_Visibility', 'Item_Type', 'Item_Price',
       'Store_Start_Year', 'Store_Size', 'Store_Location_Type', 'Store_Type'],
      dtype='object')

### Step 3 : Check out the missing values
if we check the info of the data given from https://zindi.africa/hackathons/dsn-pre-bootcamp-hackathon-the-excellent-store-challenge we will realize our aim is to train our model to predict the Item_Store_Returns column on test data.
We will also see that both the Store_Size and Item_Weight have missen values. We will need to decide what to do with them. In the case where more than half of the columns of the column is missen, you can decide to drop it.

In [31]:
train.isnull().sum() #to check how many null values

Item_ID                   0
Store_ID                  0
Item_Store_ID             0
Item_Weight             802
Item_Sugar_Content        0
Item_Visibility           0
Item_Type                 0
Item_Price                0
Store_Start_Year          0
Store_Size             1450
Store_Location_Type       0
Store_Type                0
Item_Store_Returns        0
dtype: int64

In [32]:
#we will fill the item_weight with the mean 
train['Item_Weight'].mean()

12.908838347659676

In [33]:
train['Item_Weight'].fillna(12.908838347659676,inplace =True)
#you need to put inplace =True or else changes will not remain

In [34]:
#we will fill the store_size with the mode
train['Store_Size'].mode()

0    Medium
dtype: object

In [35]:
train['Store_Size'].fillna('Medium',inplace =True)

In [36]:
train.isnull().sum()
#done filling missen values

Item_ID                0
Store_ID               0
Item_Store_ID          0
Item_Weight            0
Item_Sugar_Content     0
Item_Visibility        0
Item_Type              0
Item_Price             0
Store_Start_Year       0
Store_Size             0
Store_Location_Type    0
Store_Type             0
Item_Store_Returns     0
dtype: int64

### Step 4 : See the Categorical Values
Categorical values are also known as discrete or qualitative values. Categorical values can be further categorized as maiinly nominal, ordinal or dichotomous. 
- Nominal values are values that have two or more categories, but which do not have an intrinsic order that is, you cannot place one group above the order.
- Just like nominal values, ordinal values have two or more categories. However, unlike nominal values, ordinal values can be ordered or ranked (i.e., they have levels).

Numerical values are values expressed in numbers, rather than natural language description. Sometimes called quantitative values,numerical values are always collected in number form.

In [37]:
train.head()

,Item_ID,Store_ID,Item_Store_ID,Item_Weight,Item_Sugar_Content,Item_Visibility,Item_Type,Item_Price,Store_Start_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Returns
0,DRA12,BABATUNJI010,DRA12_BABATUNJI010,11.6,Low Sugar,0.068535,Soft Drinks,357.54,2005,Medium,Cluster 3,Grocery Store,709.08
1,DRA12,BABATUNJI013,DRA12_BABATUNJI013,11.6,Low Sugar,0.040912,Soft Drinks,355.79,1994,High,Cluster 3,Supermarket Type1,6381.69
2,DRA12,BABATUNJI017,DRA12_BABATUNJI017,11.6,Low Sugar,0.041178,Soft Drinks,350.79,2014,Medium,Cluster 2,Supermarket Type1,6381.69
3,DRA12,BABATUNJI018,DRA12_BABATUNJI018,11.6,Low Sugar,0.041113,Soft Drinks,355.04,2016,Medium,Cluster 3,Supermarket Type2,2127.23
4,DRA12,BABATUNJI035,DRA12_BABATUNJI035,11.6,Ultra Low Sugar,0.000000,Soft Drinks,354.79,2011,Small,Cluster 2,Supermarket Type1,2481.77

We will see that the Item_Sugar_Content and Store_Size are ordinal categorical feature.
 We can best handle it by LabelEncoding or OneHot Encoder or manually so that it becomes a numeric feature

In [38]:
train['Item_Sugar_Content'].unique()

array(['Low Sugar', 'Ultra Low Sugar', 'Normal Sugar'], dtype=object)

We will indicate Ultra Low to be 0 since it's the least, low to be 1 and Normal t be 2.

In [39]:
sugar_levels= ['Low Sugar', 'Ultra Low Sugar', 'Normal Sugar']
for i in range(0,len(train)): #len(train)==number of rows
    if train['Item_Sugar_Content'][i] == sugar_levels[0]:
        train['Item_Sugar_Content'][i]=1
    elif train['Item_Sugar_Content'][i] == sugar_levels[1]:
        train['Item_Sugar_Content'][i] =0
    elif train['Item_Sugar_Content'][i]==sugar_levels[2]: 
        train['Item_Sugar_Content'][i] =2 #takes care of Normal Sugar Level
    else:
        pass

In [41]:
train['Store_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [42]:
Store_levels= ['Medium', 'High', 'Small']
for i in range(0,len(train)): #len(train)==number of rows
    if train['Store_Size'][i] == Store_levels[0]:
        train['Store_Size'][i]=1
    elif train['Store_Size'][i] == Store_levels[1]:
        train['Store_Size'][i] =2
    elif train['Store_Size'][i]==Store_levels[2]: 
        train['Store_Size'][i] =0 #takes care of Normal Sugar Level
    else:
        pass

In [43]:
train['Store_Size'][0]

1

In [48]:
import math
from scipy import stats

ModeResult(mode=array([32717.41]), count=array([1]))

In [54]:
train.groupby(['Store_Size'])['Item_Store_Returns'].sum()

Store_Size
0     7362376.94
1    20686359.46
2     2407829.22
Name: Item_Store_Returns, dtype: float64

In [65]:
group_by_type = pd.DataFrame(train.groupby(['Store_Type','Item_Type'])['Item_Store_Returns'].max()).reset_index()
groupby_Grocery = group_by_type[group_by_type['Store_Type']=='Grocery Store']['Item_Type']
groupby_Supermarket1 = group_by_type[group_by_type['Store_Type']=='Supermarket Type1']['Item_Type']
groupby_Supermarket2 = group_by_type[group_by_type['Store_Type']=='Supermarket Type2']['Item_Type']
groupby_Supermarket3 = group_by_type[group_by_type['Store_Type']=='Supermarket Type3']['Item_Type']
group_by_type

           Store_Type      Item_Type  Item_Store_Returns
0       Grocery Store   Baking Goods             1980.76
1       Grocery Store         Breads             2188.82
2       Grocery Store      Breakfast             2330.30
3       Grocery Store         Canned             3262.42
4       Grocery Store          Dairy             2438.49
..                ...            ...                 ...
59  Supermarket Type3         Others            13865.29
60  Supermarket Type3        Seafood            14261.44
61  Supermarket Type3    Snack Foods            27484.22
62  Supermarket Type3    Soft Drinks            23885.58
63  Supermarket Type3  Starchy Foods            18609.11

[64 rows x 3 columns]

The highest items return is from Medium Store size

In [53]:
train.groupby(['Store_Type'])['Item_Store_Returns'].sum()

Store_Type
Grocery Store          598482.92
Supermarket Type1    21284502.22
Supermarket Type2     2770310.84
Supermarket Type3     5803269.64
Name: Item_Store_Returns, dtype: float64

From the values above we see that the highest items return is from Supermarket Type 1, followed by type 3, 2 and Grocery Store.
 We can also check the Cluster type

In [ ]:
train.